body{
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.todo{
   background: yellowgreen; 
}
.inProgress{
    width:30%;
    background: silver;
}
.done{
    width: 30%;
    background: yellow;
}
.toDoCard{
    border: 1px solid black;
    padding: 4px 4px 4px 4px;
    width: 300px;
    background: turquoise;
    display: flex;
    
}

   